:root {
  --el-color-primary: #505050;
  --el-color-primary-light-3: #777777;
  --el-color-primary-light-5: #b1b1b1;
  --el-color-primary-light-7: #cacaca;
  --el-color-primary-light-8: #e6e6e6;
  --el-color-primary-light-9: #e9e9e9;
}